/* carattere-regular - latin */
@font-face {
  font-family: "Carattere";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/carattere-v1-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/carattere-v1-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/carattere-v1-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/carattere-v1-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/carattere-v1-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/carattere-v1-latin-regular.svg#Carattere") format("svg"); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v18-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v18-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v18-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v18-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v18-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v18-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-v18-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v18-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v16-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v16-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*.clearfix::after {
  display: table;
  content: "";
  clear: both;
}*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
.page-header {
  display: flex;
  margin-bottom: 128px;
}

.header-section {
  display: flex;
  width: 100%;
  height: 65px;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1400px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  text-decoration: none;
  font-family: "Carattere";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  text-transform: capitalize;
  color: #fed443;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  text-transform: uppercase;
}

.main-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu-item {
  display: flex;
}

.main-menu-item:not(:nth-last-child(-n + 1)) {
  margin-right: 40px;
}

.main-menu-link {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}

.main-menu-link:hover {
  color: #fed443;
}

/* MAIN */
/* SERVICES */

.services-info {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 120px;
}

.container-services-style {
  width: 1400px;
  text-align: center;
}

/* h2 */
.services-info-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

/* p */
.servises-info-title-text {
  font-family: "Roboto Slab";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: #777777;
  margin: 0 0 75px 0;
}

/* ul */
.services-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.circle-commerce {
  background: url(../img/Icon-Basket.png) no-repeat;
  background-position: center;
  margin: 25px auto;
  border: 3px solid #fed136;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  /*padding: 7px;*/
}

.circle-web {
  background: url(../img/Icon-Laptop.png) no-repeat;
  background-position: center;
  margin: 25px auto;
  border: 3px solid #fed136;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  /*padding: 7px;*/
}

.circle-security {
  background: url(../img/Icon-Locked.png) no-repeat;
  background-position: center;
  margin: 25px auto;
  border: 3px solid #fed136;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  /*padding: 7px;*/
}

/* h3 */
.services-product-name {
  margin: 0 0 18px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.services-product-text {
  margin: 0;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #c0c0c0;
}

.services-list-item:not(:nth-last-child(-n + 1)) {
  margin-right: 50px;
}

/* FOOTER */

.footer-section {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #222222;
  
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /*width: 942px;*/
  /*height: 450px;*/
  margin-bottom: 115px;
  background: url(../img/Map-Image.png) no-repeat;
  background-position: right;
}

.contact-info-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  margin: 0 0 25px 0;
  color: white;
}

.contact-info-title-text {
  font-family: "Roboto Slab";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: #777777;
  margin: 0 0 75px 0;
}

/* ul */
.form-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-item:not(:nth-last-child(-n + 1)) {
  margin-bottom: 25px;
}

.input-style {
  width: 450px;
  height: 52px;
  border: 1px solid #7d7d7d;
}

.input-style::placeholder {
  padding-left: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.form-item input[type="email"]:valid {
  outline-color: green;
}

.form-item input[type="email"]:invalid {
  outline-color: red;
}

.form-item input[type="text"]:valid {
  outline-color: green;
}

.form-item input[type="text"]:invalid {
  outline-color: red;
}

/* поле SUBJECT */
.input-style-subject-text {
  width: 450px;
  height: 52px;
  border: 1px solid #7d7d7d;
}

.input-style-subject-text::placeholder {
  padding-left: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

/* YOUR MESSAGE */
.contact-form {
  border: 1px solid red;
}

.form-list {
  display: flex;
  margin-bottom: 30px;
}

.c-column-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-area {
  resize: none;
  width: 450px;
  height: 212px;
}

.text-area::placeholder {
  padding-left: 20px;
  padding-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

/* button SEND MESSAGE */

.send-message {
  width: 240px;
  height: 65px;
  margin: 0;
  padding: 0;
  background-color: #fed136;
  border: 1px solid #7d7d7d;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

